<section>
  <p>
    I am a QA contractor at Red Hat responsible for over
    <a href="/blog/2014/02/19/7-years-1400-bugs-red-hat-qa/">1400 bugs</a>,
    a general purpose open source developer, Red Hat Certified professional,
    cloud hacker and an <a href="/projects/">entrepreneur</a>.
  </p>

  <p>
    I'm living in the <a href="http://planet.sofiavalley.com">Sofia Valley</a>
    which is emerging as a busy place for start-up founders and tech enthusiasts
    in Eastern Europe! You can find more about me <a href="/about/">here</a>.
  </p>
</section>
