.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 50px 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 50px 0;
  }
}
.intro-header .site-heading h1,
.intro-header .post-heading h1,
.intro-header .page-heading h1 {
  text-shadow: 4px 4px #010203; // mine
}

.intro-header .site-heading .subheading,
.intro-header .post-heading .subheading,
.intro-header .page-heading .subheading {
  font-style: italic;
  font-weight: bold;
}

.codehilite .filename {
    width: 100%;
    display: block;
    font-size: 15px;
    color: #333;
    background-color: #F2F8FA;
    border: solid #CCC 1px;
    border-bottom: none;
    text-align: center;
}