{% if site.simple_search %}
<form action="{{ site.simple_search }}" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
{% endif %}
<br/>
{% if site.github_user %}
<section>
  {% if site.github_show_profile_link %}
  <a href="https://github.com/{{site.github_user}}">@{{site.github_user}}</a> on GitHub
  {% endif %}
</section>
{% endif %}
