<section>
    <h1>Trending Posts</h1>
<!-- AddThis Trending Content BEGIN -->
<div id="addthis_trendingcontent"></div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5103cc5a2bc6ba17"></script>
<script type="text/javascript">
addthis.box("#addthis_trendingcontent", {
    feed_title : "",
    feed_type : "trending",
    feed_period : "month",
    num_links : 5,
    height : "auto",
    width : "auto"});
</script>
<!-- AddThis Trending Content END -->
</section>