<p>
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">CC-BY-SA</a>
  &amp;
  <a rel="license" href="http://opensource.org/licenses/MIT">MIT</a>
  2011-{{ site.time | date: "%Y" }} &diams; {{ site.author }}
  &diams;
  <a href="{{ root_url }}/about/">About Me</a>
  &diams;
  Popular categories:
<a href="/blog/categories/rhel/">Red Hat</a>,
<a href="/blog/categories/cloud/">Cloud</a>,
<a href="/blog/categories/fedora/">Fedora</a>,
<a href="/blog/categories/qa/">QA</a>,
<a href="/blog/categories/start-up/">Start-up</a>

  <a href="http://planet.sofiavalley.com" style="float:right">SofiaValley Blog</a>
</p>

<script type="text/javascript">
var uri = window.location.toString();
if (uri.indexOf("?") > 0) {
    var clean_uri = uri.substring(0, uri.indexOf("?"));
    window.history.replaceState({}, document.title, clean_uri);
}
</script>
