// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {background-color:#fff;background-image:none;}
#logo-container{margin-bottom:15px;}
#logo {font-family:'Russo One';font-size:24px;border-bottom:5px solid #c00;width:160px;padding-bottom:5px;}
#logo-sub{font-size:12px;line-height:normal;}

body > header {
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid #dfdedd;
    margin-top: 10px;
}

article > header {background:none;}
article > h2 {background:none;}
article > div > h2 {background:none;}
body {font-size:13px;}
h1 {font-size:24px;}
h2 {font-size:12px;}
